
.title{
    text-align: center;
    
}

.service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 4em;
    row-gap: 4em;
    padding: 20px;
}
.service-text{
    border: 2px solid hsl(234, 86%, 51%);
    border-radius: 15px;
    padding: 20px;
    
}

.service-text ul{
    margin: 0 auto;
    text-align: left;
    list-style-position: inside;
    width: max-content;
    padding: 10px;
}

.service-text ul li{
    padding: 5px;
}
.service-img{
    width: 400px;
  
}
